.btn {
  padding: 8px 12px;
  border-radius: 3px;
  background-color: #1890ff;
  border: #1890ff;
  color: #fff;
  width: 100%;
  outline: none;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.btn:hover {
  background-color: #0076e4;
  border: #0076e4;
}
