.table_manager {
  height: 100%;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  background-color: #f0f2f5;
}

.user_inputs,
.dimension_inputs {
  width: 100%;
  max-width: 500px;
  /* padding: 1em 0; */
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.cta__file_upload {
  width: min-content;
  background: white;
  color: #1890ff;
  border: 1px solid #1890ff;
  position: relative;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
}

.cta__file_upload > .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 0;
}

.cta__file_upload > .svg-inline--fa {
  margin-left: 0;
}

.cta__file_upload > .input > input {
  padding: 0;
  cursor: pointer;
}

/* .user_inputs .input,
.user_inputs .select {
  width: auto;
  max-width: 45%;
} */

.custom_table {
  width: 100%;
  overflow: auto;
  max-height: calc(100vh * 0.4);
}
/* 
@media only screen and (max-width: 570px) {
  .custom_table {
    min-height: 150px;
  }
} */

.custom_table.filled {
  min-height: 200px;
}

.custom_table .input {
  min-width: 150px;
}

.table_manager .btn {
  max-width: 500px;
  margin: 0px auto;
}

.table_manager__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  max-width: 500px;
}

@media screen and (max-width: 450px) {
  .user_inputs,
  .dimension_inputs {
    flex-direction: column;
    align-items: flex-start;
  }

  .table_manager__cta {
    flex-direction: column;
    justify-content: none;
    align-items: none;
  }
}
