.notification_container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  list-style: none;
}

.active {
  top: 0px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  animation: moveDown 1s ease-in forwards;
}

.timeout {
  animation: hide 1s ease-in forwards;
}

.notification__message {
  padding: 0.3em;
  border-radius: 10px;
  /* width: max-content; */
  vertical-align: middle;
  display: flex;

  /* animation: hide 1s ease-in forwards 8s; */
}

.notification__message__text {
  flex: 1;
}

.notification__close_button {
  margin-left: 10px;
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
  transition: color 250ms ease;
  cursor: pointer;
}

.notification__close_button:hover {
  color: white;
}

.default {
  background-color: lightskyblue;
  visibility: visible;
}

.valid {
  background: lightgreen;
  visibility: visible;
}

.error {
  background: coral;
  visibility: visible;
}

@keyframes moveDown {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
